services:
  backend:
    platform: linux/amd64
    build: .
    container_name: license-tool-backend
    ports:
      - "8000:8000"
      - "11434:11434"
    volumes:
      - C:\Users\lipar\OneDrive\Desktop\Ell\tools\pyapp:/app/data
      - ~/.ollama:/root/.ollama
    environment:
      - SCANCODE_BIN=scancode
      - PYTHONDONTWRITEBYTECODE=1
      - CLONE_BASE_DIR=C:\Users\lipar\OneDrive\Desktop\Ell\tools\pyapp
      - OUTPUT_BASE_DIR=C:\Users\lipar\OneDrive\Desktop\Ell\tools\pyapp\json
      - MINIMAL_JSON_BASE_DIR=C:\Users\lipar\OneDrive\Desktop\Ell\tools\pyapp\json\minimal
      - OLLAMA_CODING_MODEL=qwen3-coder:480b-cloud
      - OLLAMA_GENERAL_MODEL=deepseek-v3.1:671b-cloud
      - OLLAMA_URL=http://localhost:11434/api/generate
      - CALLBACK_URL=http://localhost:5173/callbacklback